{% extends "main/base.html" %}
{% load static %}
{% block content %}

    <div style="margin:auto;width: 25%" >
        <h1 style="display:inline-block;
   position:relative;;color: #0C3C60;font-size: 60px">About</h1><br>
    </div>
    <br>
    <div><h5 style="text-align: center;color: #0C3C60">Our mission is to bring players and coaches the best online team tracking software on the <br>
        market. With four active team members with experience both on ice and as a coach, <br>
        we know what the hockey community wants out of their data site.</h5></div>


    <br><br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm d-flex">
                <div class="card card-body flex-fill">
                    <img src="{% static 'main/janko.jpg' %}" alt="Janko"  style="width:100%;height:auto">
                    <h1>Michael Janko</h1>
                    <p class="title">Founder and Principal</p>
                    <p>Hi my name is Michael Janko.  I am a senior at the University of North Carolina Charlotte seeking a degree in the Computer Science
                        field with a concentration in data science.  I am detail oriented, hard working, and organized.
                        Hockey has always been a passion of mine so to be able to provide an in-depth statistical website for hockey analytics was important to me.</p>
                    <div style="margin: 24px 0;" >
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                    <button class="align-self-end button-ext">Contact</button>
                </div>
            </div>
            <div class="col-sm d-flex">
                <div class="card card-body flex-fill">
                    <img src="{% static 'main/mike.jpg' %}" alt="MC"  style="width:100%;height:auto">
                    <h1>Michael Cam</h1>
                    <p class="title">Django Developer</p>
                    <p>Hi I’m Michael Cam, a computer science / data science student at UNC Charlotte.
                        My favorite programming language is python due to its flexibility. A fun fact is I can play the piano, clarinet, and guitar at an intermediate level.</p>
                    <div style="margin: 24px 0;" >
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                    <button class="align-self-end button-ext">Contact</button>
                </div>
            </div>
            <div class="col-sm d-flex">
                <div class="card card-body flex-fill">
                    <img src="{% static 'main/tri.png' %}" alt="Tree"  style="width:100%;height:auto">
                    <h1>Tri Tran</h1>
                    <p class="title">VP Designing</p>
                    <p>Hi, my name is Tri Tran. I am a senior at UNCC majoring in Computer Science concentrating in Software, System and Networking.
                        I do video editing, digital arts and otomatone.</p>
                    <div style="margin: 24px 0;" >
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                    <button class="align-self-end button-ext">Contact</button>
                </div>
            </div>
            <div class="col-sm d-flex">
                <div class="card card-body flex-fill">
                    <img src="{% static 'main/shiv.png' %}" alt="Shiv"  style="width:100%;height:auto">
                    <h1>Shiv Parekh</h1>
                    <p class="title">Project Programmer</p>
                    <p>Hi my name is Shiv Parekh, I am a computer science major/math minor at unc charlotte. I like coding because it gives you the ability
                        to create anything you want. You can create games, websites, bots, and many other things. Some things I like to do for fun is play
                        the piano, play basketball, and run.</p>


                    <div style="margin: 24px 0;" >
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#" ><i class="fa fa-facebook"></i></a>
                    </div>
                    <button class="align-self-end button-ext" style="margin-top: auto;">Contact</button>

                </div>
            </div>
        </div>
    </div>


{% endblock content %}