{% extends "main/base.html" %}
{% load static %}
{% block content %}
    <h1 style="color:#1f536b;text-align: center;font-size:70px">Clients</h1><br>
    <h4 style="color:#286786;text-align: center">Proudly introducing our future investors</h4><br>

    <img src="{% static 'main/ncaa.png' %}"  class="rounded mx-auto d-block img-thumbnail img-fluid" alt="Responsive image"><br>
    <img src="{% static 'main/Analytics-logo.png' %}"   class="rounded mx-auto d-block img-thumbnail img-fluid" alt="Responsive image"><br>
    <img src="{% static 'main/NHL-logo.jpg' %}" class="rounded mx-auto d-block img-thumbnail img-fluid" alt="Responsive image"><br>

{% endblock content %}