{% extends "main/base.html" %}
{% block content %}
    <div class="container">

    <div class="col-md-12">
        <div class="powr-social-feed" id="8e705999_1608231968"></div><script src="https://www.powr.io/powr.js?platform=html"></script>
    </div>
    <div class="container">
        <div class="row">
            <div class="powr-social-feed col-md-8" id="f9207fd0_1608144973"></div><script src="https://www.powr.io/powr.js?platform=html"></script>
            <div class="powr-twitter-feed col-md-4" id="62a800d2_1608144822"><h2></h2></div><script src="https://www.powr.io/powr.js?platform=html"></script>        </div>
        </div>
    </div>
    </div>
{% endblock content %}